{:aliases
 {;; clj -X:mcp :port 39541
  :mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/tag "v0.1.7-alpha"
                                   :git/sha "992fe5d"}}
   :exec-fn clojure-mcp.main/start-mcp-server}}}
