name: NixOS Configuration CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: Check NixOS Configuration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Check flake format
        run: nix fmt -- --fail-on-change .

      - name: Build NixOS configurations
        run: |
          nix build .#nixosConfigurations.conao-nixos-helios.config.system.build.toplevel --show-trace
          nix build .#nixosConfigurations.conao-nixos-eos.config.system.build.toplevel --show-trace
